* text=auto eol=lf

*.py text eol=lf
*.md text eol=lf
*.tex text eol=lf
*.bib text eol=lf
*.csv text eol=lf
*.json text eol=lf
*.toml text eol=lf

*.pdf binary
*.png binary
*.svg text eol=lf
*.tiff binary
*.xlsx binary
*.pptx binary
*.otf binary
*.ttf binary
